{% extends "bootstrap/base.html" %}
{%- block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="https://github.com/HRTK92/liff-canvas">
{%- endblock metas %}
{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script>
  const canvas = document.querySelector('#canvas');
  const signaturePad = new SignaturePad(canvas, { backgroundColor: 'rgb(238,238,238)', });
  $(window).on('load', function () {
    canvas.setAttribute('width', $('.container').width());
    canvas.setAttribute('height', window.innerHeight - $('#btn').outerHeight() - 10);
    signaturePad.clear();
    liff.init({ liffId: "1655627652-qrdymkLQ" });
    setOptions(true);
  });
  var setOptions = function (bcolor = false) {
    signaturePad.penColor = $("#color").val();
    signaturePad.backgroundColor = $("#bcolor").val();
    signaturePad.minWidth = parseInt($("#weight").val());
    signaturePad.maxWidth = parseInt($("#weight").val());
    if (bcolor) {
      signaturePad.clear();
    }
    console.log(signaturePad);
  };
</script>

<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  $('#btn').on('click', function () {
    $.ajax({
      type: 'POST',
      url: '/saveimage',
      data: {
        'image': signaturePad.toDataURL('image/jpeg', 1)
      },
      success: function (res, status) {
        liff.getProfile().then(function (profile) {
          liff.sendMessages([
            {
              type: 'image',
              originalContentUrl: 'https://' + document.domain + '/static/imgs/' + res + '.jpg',
              previewImageUrl: 'https://' + document.domain + '/static/imgs/' + res + '.jpg'//_240
            }
          ]).then(function () {

            liff.closeWindow();
          }).catch(function (error) {
            window.alert('Error sending message: ' + error.message);
          });
        }).catch(function (error) {
          window.alert("Error getting profile: " + error.message);
        });
      },
      error: function (res) {
        window.alert('Error saving image: ' + res.status);
      },
      complete: function (data) {
      }
    });
  });
  $('#clear').click(function () {
    signaturePad.clear();
  });
  $("#color").on("change", function () {
    setOptions();
  });
  $("#bcolor").on("change", function () {
    setOptions(true);
  });
  $("input[type=range]").on("input", function () {
    setOptions();
  });
  $('#share').click(function () {
    $.getJSON("/static/share.json")
      .done(function (data) {
        liff.shareTargetPicker([
          {
            'type': 'text',
            'text': ""
          }
        ])
          .then(function (res) {
            if (res) {
              // succeeded in sending a message through TargetPicker
              console.log(`[${res.status}] Message sent!`)
            } else {
              const [majorVer, minorVer] = (liff.getLineVersion() || "").split('.');
              if (parseInt(majorVer) == 10 && parseInt(minorVer) < 11) {
                // LINE 10.3.0 - 10.10.0
                // Old LINE will access here regardless of user's action
                console.log('TargetPicker was opened at least. Whether succeeded to send message is unclear')
              } else {
                // LINE 10.11.0 -
                // sending message canceled
                console.log('TargetPicker was closed!')
              }
            }
          }).catch(function (error) {
            // something went wrong before sending a message
            console.log('something wrong happen')
          })
      });
  });
  $("#undo").on("click", function () {
    var data = signaturePad.toData();
    if (data) {
      data.pop(); // remove the last dot or line
      signaturePad.fromData(data);
    }
  });
</script>
{% endblock %}
{% block title %}お絵描き{% endblock %}
{% block content %}
<div class="container">
  <canvas id="canvas"></canvas>
  <button id="btn" type="button" class="btn btn-success">送信</button>
  <button id="undo" type="button" class="btn btn-danger">戻る</button>
  <button id="clear" type="button" class="btn btn-danger">クリア</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SetupModal">設定</button>
  <a id="github" class="btn btn-info" href="https://github.com/HRTK92/liff-canvas">Code</a>

  <div class="modal fade" id="SetupModal" tabindex="-1" aria-labelledby="SetupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SetupModalLabel">設定</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="number" class="control-label col-md-2">線の色</label>
            <div class="col-md-2">
              <input type="color" id="color" class="form-control form-control-color">
            </div>
            <label for="number" class="control-label col-md-2">線の太さ</label>
            <div class="col-md-2">
              <input type="range" class="form-control-range" id="weight" min="1" max="20" value="2">
            </div>
            <label for="number" class="control-label col-md-2">背景</label>
            <div class="col-md-2">
              <input type="color" id="bcolor" class="form-control form-control-color" value="#eeeeee">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
